{{> header}}

<div class="row justify-content-md-center">
    <center><h1 class="display-5" style="margin-top:20px ;">{{ viewTitle }}</h1></center></br>
    <div class="col-md-4" style="margin-top:50px;">
        <form action="/project" method="post">
            <input type="hidden" name="_id" class="form-control" value="{{project._id}}">
            <div class="form-group">
                Project name
                <input type="text" name="projectname" class="form-control" value="{{project.projectname}}" required>
            </div>
            <div class="form-group">
                Project start date
                <input type="text" name="projectstart" class="form-control" value="{{project.projectstart}}" required>
            </div>
            <div class="form-group">
                Project end date
                <input type="text" name="projectend" class="form-control" value="{{project.projectstart}}" required>
            </div></br>
                <center><button type="submit" class="btn btn-info btn-lg">Save</button></center>
        </form>
    </div>
</div>
